{% extends 'shared/_layout.html' %}

{% block title %}SHA'AF{% endblock %}

{% block content %}
	<section class="home" id="home">

<div class="content">
    <h1>فرم آنلاین را در خانه بیاموزید</h1>
    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
    <a href="#"><button>بیشتر بدانید</button></a>
</div>

<div class="box-container">

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <h3>دوره های پرطرفدار</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fas fa-fire"></i>
        <h3>امتحان رایگان</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fas fa-award"></i>
        <h3>گواهینامه ها</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

</div>

</section>
    <!-- about section starts  -->


<section class="about" id="about">

<h1 class="heading">درباره ما</h1>
<h3 class="title">سفر خود را با ما آغاز کنید</h3>

<div class="row">

    <div class="content">
        <h3>با دوره های عملی ما سفر خود را به زندگی بهتر آغاز کنید</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
        <a href="#"><button>بیشتر بدانید</button></a>
    </div>

    <div class="image">
        <img src="/static/images/about-img.svg" alt="">
    </div>

</div>

</section>


<!-- about section ends -->

<!-- teacher section starts  -->

<section id="teacher" class="teacher">

<h1 class="heading">معلم ها</h1>
<h3 class="title">با مربیان حرفه ای ملاقات کنید</h3>

<div class="card-container">

    <div class="card">
        <img src="/static/images/img1.jpg" alt="">
        <h3>نام کسی</h3>
        <p>من عاشق تدریس هستم</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>

    <div class="card">
        <img src="/static/images/img2.jpg" alt="">
        <h3>نام کسی</h3>
        <p>من عاشق تدریس هستم</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>

    <div class="card">
        <img src="/static/images/img3.jpg" alt="">
        <h3>نام کسی</h3>
        <p>من عاشق تدریس هستم</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>

    <div class="card">
        <img src="/static/images/img4.jpg" alt="">
        <h3>نام کسی</h3>
        <p>من عاشق تدریس هستم</p>
        <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
        </div>
    </div>

</div>


</section>

<!-- teacher section ends -->

<!-- course section starts  -->

<section id="course" class="course">

<h1 class="heading">دوره های ما</h1>
<h3 class="title">مهارت های خود را با جدیدترین دوره ها ارتقا دهید</h3>


<div class="box-container">

    <div class="box">
        <i class="fab fa-html5"></i>
        <h3>html5</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fab fa-css3-alt"></i>
        <h3>css3</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fab fa-js-square"></i>
        <h3>javascript</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fas fa-code"></i>
        <h3>web development</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fas fa-bullhorn"></i>
        <h3>seo marketing</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

    <div class="box">
        <i class="fas fa-paint-brush"></i>
        <h3>graphic design</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
    </div>

</div>

</section>

<!-- course section ends -->

<!-- review section starts  -->

<section id="review" class="review">

<h1 class="heading">نظرات دانش آموزان</h1>
<h3 class="title">آنچه دانشجویان ما در مورد ما می گویند</h3>

<div class="box-container">

    <div class="box">
        <img src="/static/images/pic1.jpg" alt="">
        <h3>نام کسی</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>

    <div class="box">
        <img src="/static/images/pic2.jpg" alt="">
        <h3>نام کسی</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </div>

    <div class="box">
        <img src="/static/images/pic3.jpg" alt="">
        <h3>نام کسی</h3>
        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است </p>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
    </div>

</div>

</section>

<!-- review section ends -->

{% endblock %}