{% extends 'shared/_layout.html' %}

{% block title %}SHA'AF{% endblock %}
{% block style %}
    <style>
    .shop {
        height:3.5rem;
        width:17rem;
        background:var(--orange);
        color:#fff;
        border:none;
        border-radius: 5rem;
        box-shadow: 0 .3rem 1rem rgba(0,0,0,.3);
        cursor: pointer;
        font-size: 2rem;
        transition: .2s;
        text-align: center;
    }
    .shop:hover {
        letter-spacing: .2rem;
  opacity: .8;
    }
    </style>
{% endblock %}
{% block content %}
	<section class="home" id="home">

<div class="content">
    <h1>آموزشگاه زبان شعف</h1>
    <p>بهترین راه یادگیری زبان</p>
    <a href="#"><button>ثبت نام کنید</button></a>
</div>

<div class="box-container">

    <div class="box">
        <i class="fas fa-graduation-cap"></i>
        <h3>برای همه رده‌های سنی</h3>
        <p>از مهدکودک تا بزرگسالان، ما به همه آموزش میدیم </p>
    </div>

    <div class="box">
        <i class="fas fa-fire-alt"></i>
        <h3>امتحان رایگان</h3>
        <p>روی دکمه ثبت نام کلیک کن تا یه آزمون تعیین سطح رایگان مهمون ما باشی</p>
    </div>

    <div class="box">
        <i class="fas fa-coins"></i>
        <h3>ارزانترین</h3>
        <p>مطمئن باش آموزشگاهی ارزون تر از ما پیدا نمی‌کنی </p>
    </div>

</div>

</section>
    <!-- about section starts  -->


<section class="about" id="about">

<h1 class="heading">ما کی هستیم؟</h1>
<h3 class="title">سفر به دنیای زبان را با ما آغاز کنید.</h3>

<div class="row">

    <div class="content">
        <h3>آموزشگاه شعف، بهترین راه یادگیری زبان</h3>
        <p>ما تو آموزشگاه زبان شعف از سال ۱۳۹۵، در زمینه آموزش زبان انگلیسی در سطوح متنوع و با رویکرد توانمندسازی نوجوانان و کودکان تلاش کردیم.
و همیشه خودمون را با این جمله معرفی میکنیم:
«<strong>اینجا بهترین راه برای یادگیریه زبانه</strong>»</p>
        <a href="#"><button>ثبت نام کنید</button></a>
    </div>

    <div class="image">
        <img src="/static/images/about-img.svg" alt="">
    </div>

</div>

</section>


<!-- about section ends -->

<!-- shop section starts  -->

<section id="teacher" class="teacher">

<h1 class="heading">فروشگاه</h1>
<h3 class="title">کتاب‌هاتونم از خودمون بخرید</h3>

<div class="card-container">

    {% for shop_element in shop_elements %}

        <a href="{% url 'product' shop_element.slug %}" target="_blank"><div class="card">
        <img src="/static/img/{{ shop_element.image }}" alt="">
        <h3>{{ shop_element.title }}</h3>
        <p>{{ shop_element.title_fa}}</p>
        <p>{% widthratio shop_element.price 1 1000 %} تومان</p>
        </div></a>

    {% endfor %}
     <a href="{% url 'shop' %}"><button class="shop">ورود به فروشگاه</button></a>
</div>


</section>

<!-- teacher section ends -->

<!-- course section starts  -->

<section id="course" class="course">

<h1 class="heading">دوره های ما</h1>
<h3 class="title">از مهدکودک تا دوره بزرگسالان همه‌ باهم در شعف</h3>


<div class="box-container">

    {% for course in courses %}

    	<div class="box">
        <i class="fa fa-n">{{ course.id }}</i>
        <h3>{{ course.name }}</h3>
        <p>{{ course.short_description }}</p>

    </div>
    {% endfor %}


</div>

</section>

<!-- course section ends -->
{% endblock %}