* {
    margin: 0;
}

#main-nav {
    display: flex;
    flex-direction: column;
    position: sticky;
}

#main-nav .main-nav {
    display: flex;

}

#main-nav .main-nav img {
    width: 10rem;
}

#main-nav .main-nav .links {
    display: flex;
    padding: 1rem;
}

#main-nav .main-nav ul {
    list-style: none;
}

#main-nav .main-nav ul li {

    padding: 0.5rem;
}

#main-nav .main-nav ul a {
    background-color: red;
    padding: .5rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

#main-nav .main-nav ul a:hover {
    background-color: aqua;
    padding: .6rem;
}