{% load static %}
<!doctype html>
<html lang="fa-IR">
   <head>
      <meta charset="utf-8">
      <title>{{ category.title }}</title>
      {% include 'include/styles.html' %}
   </head>
   <body>
      <!---------------------------------->      
            {% include 'include/search.html' %}
      <!--top2-->      
      <!---------------------------------->        
      {% include 'include/navigation_bar.html' %}
      <!---------------------------------->
      <div class="pages-bnaer text-center">
         <div class="container">
            <span>{{ category.title|title }}</span>
         </div>
      </div>
      <div class="container">
         <div class="row">
             {% for product in products %}
             	<div class="col-md-4" style="display: flex">
               <div class="blog-content" style="display: flex; flex-direction: column; justify-content: space-around">
                  <figure>
                     <img src="{% static 'shop/img/'|add:product.image %}" class="w-100" style="max-width: 60%; margin-left: auto; margin-right: auto; display: block;">
                  </figure>
                   <div>
                  <h5><i class="fa fa-title"></i>{{ product.title }}</h5>
                  <p>{{ product.title_fa }}</p>
                  <ul>
                     <li><i class="fa fa-bars"></i>سطح: {{ product.level }}</li>
                     <li><i class="fa fa-calendar-o"></i>رده سنی: {{ product.age }}</li>
                     <li><i class="fa fa-user-o"></i>نویسنده: {{ product.author }}</li>
                  </ul>
                  <a href="{% url 'product' product.slug %}" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
                   </div>
               </div>
            </div>
             {% endfor %}
         </div>
      </div>
      </div>
      <!---------------------------------->
      {% include 'include/footer.html' %}
      <!----------------------------------> 
      <div class="copy-right">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  &copy;&nbsp;&nbsp;طراحی و کدنویسی سئو 90&nbsp;&nbsp;&nbsp;&nbsp;
                  <span>info@seo90.ir</span>
               </div>
            </div>
         </div>
      </div>
      <!----------------------------------> 
      {% include 'include/scripts.html' %}
   </body>
</html>