{% extends 'base.html' %}
{% load static %}

{% block title %}
	SHA'Af
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
{% endblock %}

{% block header %}
	<nav id="main-nav">
    <div class="main-nav">
        <img src="{% static 'shop/images/default-logo.png' %}" alt="">
        <div id="links">
            <ul class="links">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">About us</a>
                </li>
                <li>
                    <a href="">Contact us</a>
                </li>
                <li>
                    <a href="{% url 'shop' %}">Shop</a>
                </li>
                <li>
                    <a href="">Sign in</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
{% endblock %}