<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Sha'af Shop</title>
      <link href="/static/style/font-awesome.css" rel="stylesheet" type="text/css">
      <link href="/static/style/bootstrap.css" rel="stylesheet" type="text/css">
      <link href="/static/style/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="/static/style/owl.theme.default.css" rel="stylesheet" type="text/css">
      <link href="/static/style/style.css" rel="stylesheet" type="text/css">
       <script src="https://kit.fontawesome.com/e1acd0cb90.js" crossorigin="anonymous"></script>
   </head>
   <body>
{#      <div class="social">#}
{#         <ul>#}
{#            <li><a href=""><i class="fa fa-instagram"></i></a></li>#}
{#            <li><a href=""><i class="fa fa-send"></i></a></li>#}
{#            <li><a href=""><i class="fa fa-internet-explorer"></i></a></li>#}
{#            <li><a href=""><i class="fa fa-twitter"></i></a></li>#}
{#         </ul>#}
{#      </div>#}
      <!---------------------------------->      
      <div class="top2">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="login">
                     <a href="#" class="mybtn"><i class="fa fa-user-plus"></i>ثبت نام</a>
                     <a href="#" class="mybtn"><i class="fa fa-user-o"></i>ورود</a>
                     <a href="#" class="mybtn"><i class="fa fa-cart-arrow-down"></i>سبد</a>  				
                  </div>
               </div>
               <div class="col-md-6">
                  <form action="" >
                     <input type="text" placeholder="کالای مورد نظر را جستجو کنید">
                     <button type="submit" ><i class="fa fa-search"></i></button>
                  </form>
               </div>
            </div>
         </div>
      </div><!--top2-->
      <!---------------------------------->        
      {% include 'include/navigation_bar.html' %}
      <!----------------------------------> 
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="slider-box">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="{% url 'product' active.slug %}" style="text-decoration: none; color: white" target="_blank">
                           <div class="col-md-6" style="padding-top: 20px;">
                              <h4>{{ active.title }}</h4>
                              <span>{{ active.title_fa }}</span>
                              <p>{{ active.category }} - {{ active.level }} - {{ active.age }}<br> {{ active.author }}</p>
                           </div>
                           <div class="col-md-6">
                              <img src="/static/img/{{ active.image }}" class="w-75" >
                           </div>
                            </a>
                        </div>
                         {% for some in some_book %}
                         	{% include 'include/container.html' with book=some %}
                         {% endfor %}
                     </div>
                  </div>
               </div>
               <!--slider-box-->
            </div>
         </div>
      </div>
      <!---------------------------------->   
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="one-slider">
                  <h4>کتاب‌های آموزشی</h4>
                  <div class="owl-carousel owl-theme ov1">
                      {% for learning in learnings %}
                      	{% include 'include/down_container.html' with book=learning %}
                      {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="bodybulding-baner">
                  <a href="#"><img src="/static/img/novel.jpg" class="w-100" /></a>
                  <h4>کتاب‌های داستان</h4>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="two-slider">
                  <h4>کتاب‌های مهارتی</h4>
                  <div class="owl-carousel owl-theme ov2">
                     {% for skill in skills %}
                     	{% include 'include/down_container.html' with book=skill %}
                     {% endfor %}
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
        {% include 'include/footer.html' %}
      <!----------------------------------> 
      <script src="/static/js/jquery-3.3.1.js" type="text/javascript"></script>
      <script src="/static/js/jquery.simple.timer.js" type="text/javascript"></script>
      <script src="/static/js/bootstrap.js" type="text/javascript"></script>
      <script src="/static/js/owl.carousel.min.js" type="text/javascript"></script>
      <script src="/static/js/js.js" type="text/javascript"></script>
   </body>
</html>