<div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <div class="footer-description">
                     <ul>
                        <li>امکان پرداخت آنلاین با کارت بانکی و پرداخت در آموزشگاه</li>
                        <li>خرید آسان و مطمئن</li>
                        <li>قیمت های مناسب</li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="footer-description2">
                     <ul>
                        <li><i class="fa fa-pencil"></i>آموزشی دل‌انگیز</li>
                        <li><i class="fa fa-home"></i>محیط آموزشی مناسب</li>
                        <li><i class="fa fa-money"></i>کمترین هزینه در منطقه</li>
                     </ul>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="news-form">
                     <h5>در خبرنامه عضو شوید</h5>
                     <form action="" >
                        <input type="email" placeholder="ایمیل خود را وارد کنید" >
                        <button type="submit" ><i class="fa fa-envelope-o"></i></button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!---------------------------------->
      <div class="copy-right">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  &copy;&nbsp;&nbsp;آموزشگاه زبان شعف&nbsp;&nbsp;&nbsp;&nbsp;
                  <span>www.shaaf.ir</span>
               </div>
            </div>
         </div>
      </div>