<div class="main-menu">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <ul>
                      <li><a href="{% url 'home' %}" target="_blank">صفحه آموزشگاه</a></li>
                     <li>
                        <a href="{% url 'category' 'learning' %}">کتاب زبان ترمیک</a>
                        <ul>
                           <li><a href="#">رده سنی بزرگسالان</a></li>
                           <li><a href="#">رده سنی نوجوانان</a></li>
                           <li><a href="#">رده سنی کودکان</a></li>
                           <li><a href="#">رده سنی مهدکودک</a></li>
                        </ul>
                     </li>
                      <li>
                        <a href="#">کتاب زبان مهارتی</a>
                        <ul>
                           <li><a href="#">Listening</a></li>
                           <li><a href="#">Reading</a></li>
                           <li><a href="#">Writing</a></li>
                            <li><a href="#">Grammar</a></li>
                            <li><a href="#">Vocabulary</a></li>
                        </ul>
                     </li>
                     <li><a href="#">کتاب داستان انگلیسی</a></li>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <br>