{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <title>Sha'af | login</title>

      <link rel="stylesheet" href="{% static 'registration/styles/style.css' %}" />

      <style>
          
          html {
              font-family: "Noto Sans Arabic", sans-serif;
          }
      </style>
  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>ثبت نام</header>
        <form action="#" name="sign-up" method="post">
        {% csrf_token %}
          {% for foo in form %}
              {{ foo }}
              {{ foo.errors }}
          {% endfor %}
          
          <div class="checkbox">
            <input type="checkbox" id="signupCheck" />
            <label for="signupCheck"><a href="" style="color:white;">قوانینو </a>قبول دارم.</label>
          </div>
          <input type="submit" value="ثبت نامم کن" />
        </form>
      </div>

      <div class="form login">
        <header>ورود</header>
        <form action="" method="post" name="log-in">
            {{ form.phone_number }}
            {{ form.password }}
          <a href="#">رمز یادت نیست؟</a>
          <input type="submit" value="بزن بریم..." />
        </form>
      </div>

      <script>
        const wrapper = document.querySelector(".wrapper"),
          signupHeader = document.querySelector(".signup header"),
          loginHeader = document.querySelector(".login header");

        loginHeader.addEventListener("click", () => {
          wrapper.classList.add("active");
        });
        signupHeader.addEventListener("click", () => {
          wrapper.classList.remove("active");
        });
      </script>
    </section>
  </body>
</html>
